.skills{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}
.sk{
    display: flex;
    justify-content: center;
}
.helo{
    display: flex;
    gap: 10px;
    
}
.hello{
    display: flex;
    border-radius: 100%;
}
